    <% learning_propositions.each do |learning_proposition| %>
        <div class="jumbotron col-xs-6 col-md-5 list_index">
          <h1><%= learning_proposition.name %></h1>
          <p><%= learning_proposition.session_date.strftime("%d/%m/%Y %H:%M")%></p>
          <p><%= truncate(learning_proposition.description, length: 180) %></p>
          <p><%= link_to "SAIBA MAIS", learning_proposition_path(learning_proposition.id), class: "btn btn-success btn_saiba_mais" %></td></p>
        </div>
    <% end %>
