<h2>Proposições Abertas</h2>
<%= render "list", learning_propositions: @learning_propositions_open %>
<h2>Proposições Fechadas</h2>
<%= render "list", learning_propositions: @learning_propositions_close  %>
