<table class="table table-bordered">
  <tread>
    <tr>
      <th>Curso</th>
      <th>Descriçao</th>
      <th>Facilitador</th>
      <th>Local</th>
      <th>Data</th>
      <th>Hora</th>
    </tr>
  </tread>
  <tbody>
    
  </tbody>
</table>
