
<div class="container">
  <div class="row">
    <div class="logo">
      <img src="<%= image_path("logo.png") %>">
    </div>
  </div>
  <div class="row">
    <div class="container-form">

      <div class="col-lg-12 text-center title-page">
        <h1>CRIAR SESSÃO DE APRENDIZAGEM</h1>
      </div>


        <div class="form-group">
          <input type="text" class="form-control input-lg" id="tema" placeholder="Tema da Sessão de Aprendizagem. Ex: Gestão Ágil de Prjetos com Scrum">
        </div>
        <div class="form-group">
          <textarea name="name" class="form-control"  rows="3" placeholder="Descrição do Tema"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control input-lg" id="numero_minimo" placeholder="Numero mínimo de participantes">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-lg" id="numero_minimo" placeholder="Numero maximo de participantes">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="tema" placeholder="Local">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control input-lg" id="tema" placeholder="Data">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-lg" id="tema" placeholder="Horário">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success"> CRIAR SESSÃO </button>
      
    </div>
  </div>
</div>
