
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><%= @learning_proposition.name%></h2></div>

  <h4><%= @learning_proposition.location%></h4>
  <div class="">
    <button type="button" class="btn btn-success">I'm interested!</button>
  </div>
  <!-- Table -->
</div>
