
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><%= @learning_proposition.name%></h2></div>

  <h4><%= @learning_proposition.location%></h4>
  <div class="">
    <%= link_to("Tenho interesse!", new_learning_proposition_interest_url(@learning_proposition), {class:"btn btn-success"})  %>
  </div>
  <!-- Table -->
</div>
