
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Nome da proposta</div>
  <div class="">
      Descricao proposta
  </div>
  <h2><%= @proposition.description%></h2>
  <div class="">
    <button type="button" class="btn btn-success">I'm interested!</button>
  </div>
  <!-- Table -->
</div>
