// Place all the styles related to the learning_propositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


//Page create section of learning
body {
  font-family: 'Lato', sans-serif;
}

$green: #00b8bc;

a:hover {
  text-decoration: none;
}

.topo{
  margin-bottom: 35px;
}

.logo {
  width: 314px;
  height: 78px;
}

.links{
  text-align: right;
  margin-top: 30px;
}

.links a {
  margin-left: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #999;

  &:hover {
    color: #00b8bc;
    background-color: transparent;
  }
}

.title-page {
  font-size: 28px;
  color: $green;
  h1 {}
}

input, textarea {
  font-size: 16px !important;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
