// Place all the styles related to the learning_propositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


//Page create section of learning
body {
  font-family: 'Lato', sans-serif;
}

$green: #00b8bc;

a:hover {
  text-decoration: none;
}

.topo{
  margin-bottom: 35px;
}

.logo {
  width: 314px;
  height: 78px;
}

.links{
  text-align: right;
  margin-top: 30px;
}

.links a {
  margin-left: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #999;

  &:hover {
    color: #00b8bc;
    background-color: transparent;
  }
}

.title-page {
  font-size: 28px;
  color: $green;
  h1 {}
}

input, textarea {
  font-size: 16px !important;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.box-detail {
  background-color: #00b8bc;
  color: #fff;
  padding-bottom: 40px;

  h2 {
    font-size: 45px;
    font-weight: bold;
  }

}

.panel-heading {
  padding: 40px 0 50px 60px;
  width: 50%;
  height: 220px;
  float: left;
  p {
    font-size: 18px;
  }
}

.btn-orange {
  background-color: #ee3a23;
  font-size: 17px;
  color: #fff;
  padding: 15px 34px;
  margin-left: 60px;
  &:hover {
    color: #fff;
    background-color: #ff381f;
  }
}

.password_label{
  margin-top: 15px;
  color: #999;
  font-size: 12px;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 40px 0;
}


.panel-interests {
    float: right;
    width: 50%;
    height: 220px;
    padding-top: 64px;
    padding-right: 70px;
    text-align: right;
}
.list_index{
  margin: 20px;
  min-height: 400px;
  max-height: 400px;
}

.list_index h1{
  font-size: 40px;
}

.btn_saiba_mais{
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.tamanho{
  height: 500px;
  overflow-y: scroll;
}
