<div class="topo">
  <div class="row">
    <div class="col-md-8">
    <div class="logo">
      <img src="<%= image_path("logo.png") %>">
    </div>
    </div>

    <div class="col-md-4">
    <div class="links">
      <a href="">Home</a>
      <a href="">Criar Sessão</a>
    </div>
    </div>
  </div>
  </div>
